@import url(http://fonts.googleapis.com/css?family=Raleway:200);

body {font-family: sans-serif; color: #333; background: #fff; }
header, main, footer, output {display: block; text-align: center;}

h1 {text-align: center; font-family: 'Raleway', sans-serif; margin-bottom: 32px;}

#files {margin: 46px auto; padding: 20px; border-radius: 5px; background: #ddd; font-size: 10px; }

.photo {
    width: 296px; height: auto;
    margin: 16px 0;
}

footer { border-top: 1px solid #eee; padding: 4px; margin-top: 32px; color: #999; font-size: 10px;}