@charset "utf-8";
// ===================================================================
// Setting
// ===================================================================
$hand_width : 320px;
$hand_height : 240px;


// ===================================================================
// Layout
// ===================================================================
#overlay {
    position: absolute;
    top: 0; left: 0;
    -webkit-transform: scaleX(-1); transform: scaleX(-1);
}

#videoel {
    -webkit-transform: scaleX(-1); transform: scaleX(-1);
}

#container {
    position: absolute;
    margin: 0;
}

.content {
    margin-top: 70px;
}

// 全画面
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

#handArea {
    position: absolute;
    background: #fff;
    width: $hand_width;
    height: $hand_height;
    bottom: 10px;
    left: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);

    img { max-width: $hand_width; max-height: $hand_height; margin: 0 auto;}
}

