#overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#videoel {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#container {
  position: absolute;
  margin: 0;
}

.content {
  margin-top: 70px;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  background-size: cover;
}

#handArea {
  position: absolute;
  background: #23242b;
  width: 320px;
  height: 240px;
  bottom: 10px;
  left: 10px;
}
#handArea img {
  max-width: 320px;
  max-height: 240px;
  margin: 0 auto;
}

.cercle {
  display: none;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 4px solid #05fa05;
  position: absolute;
  top: 110px;
  z-index: 1;
  left: 50%;
  margin-left: -225px;
  opacity: 0.3;
}
