#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#videoel {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#container {
  position: relative;
  width: 370px;
  margin: 0 auto;
}

.content {
  margin-top: 70px;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 950px;
}
